<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
    <div class="auth">
        <h2 class="text-info text-center">Login</h2>
        <form class="form-auth"
              [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <div class="form-group form-group-lg has-feedback"
                 [ngClass]="{'has-success': loginForm.controls.email.dirty && loginForm.controls.email.valid,
                             'has-error': loginForm.controls.email.dirty && loginForm.controls.email.invalid}">
                <label class="sr-only"
                       for="inputEmail">Username</label>
                <input id="inputEmail"
                       class="form-control"
                       type="email"
                       placeholder="email@example.com"
                       formControlName="email">
                <span class="glyphicon form-control-feedback" aria-hidden="true"
                      *ngIf="loginForm.controls.email.dirty"
                      [ngClass]="{'glyphicon-ok show': loginForm.controls.email.valid,
                                  'glyphicon-remove show': loginForm.controls.email.invalid}"></span>
            </div>
            <div class="form-group form-group-lg has-feedback"
                 [ngClass]="{'has-success': loginForm.controls.password.dirty && loginForm.controls.password.valid,
                             'has-error': loginForm.controls.password.dirty && loginForm.controls.password.invalid}">
                <label class="sr-only"
                       for="inputPassword">Password</label>
                <input id="inputPassword"
                       class="form-control"
                       type="password"
                       placeholder="password"
                       formControlName="password">
                <span class="glyphicon form-control-feedback" aria-hidden="true"
                      *ngIf="loginForm.controls.password.dirty"
                      [ngClass]="{'glyphicon-ok show': loginForm.controls.password.valid,
                                  'glyphicon-remove show': loginForm.controls.password.invalid}"></span>
            </div>
            <button class="btn btn-lg btn-primary btn-block"
                    type="submit" [disabled]="!loginForm.valid">Login</button>
        </form>
    </div>
</div>