<header>
    <nav class="navbar navbar-default">
        <div class="container">
            <ul class="nav navbar-nav left">
                <li>
                    <a [routerLink]="['']">MyApp</a>
                </li>
                <li>
                    <a [routerLink]="['protected']" *ngIf="isAuth()">Protected</a>
                </li>
            </ul>
            <ul class="nav navbar-nav right">
                <li>
                    <a [routerLink]="['login']" *ngIf="!isAuth()">
                        <span class="glyphicon large glyphicon-log-in"></span>
                    </a>
                </li>
                <li>
                    <a style="cursor: pointer;" *ngIf="isAuth()" (click)="onLogout()">
                        <span class="glyphicon large glyphicon-log-out"></span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>